# Docker service configuration for myhost
# yaml-language-server: $schema=../services-schema.yaml
---
services:
  - security:
      - name: crowdsec
        state: up
      - name: traefik
        state: up
      - name: authelia
        state: up
      - name: wg-easy
        state: up
      - name: cloudflared
        state: up
      - name: endlessh
        state: up
      - name: frigate
        state: up

  - dashboard:
      - name: homepage
        state: up

  - infra:
      - name: portainer
        state: up
      - name: adguardhome
        state: up
      - name: adguardhome-sync
        state: up
      - name: unifi-controller
        state: up
      - name: ddclient
        state: up

  - monitoring:
      - name: scrutiny
        state: up
      - name: uptime-kuma
        state: up
      - name: prometheus
        state: up
      - name: grafana
        state: up

  - automation:
      - name: homeassistant
        state: up
      - name: n8n
        state: up
      - name: mosquitto
        state: up
      - name: esphome-device-builder
        state: up

  - media/video:
      - name: jellyfin
        state: up
        note: Storage on NAS
      - name: jellyfin-vue
        state: up
        note: Storage on NAS
      - name: metube
        state: up
        note: Storage on NAS

  - media/audio:
      - name: navidrome
        state: up
        note: Storage on NAS

  - media/ebook:
      - name: calibre
        state: up
        note: Storage on NAS
      - name: calibre-web
        state: up
        note: Storage on NAS
      - name: kiwix-serve
        state: up

  - storage:
      - name: syncthing
        state: up
        note: Storage on NAS
      - name: filebrowser
        state: up
      - name: minio
        state: down
      - name: webdav
        state: up
      - name: bees
        state: up

  - database:
      - name: adminer
        state: up
      - name: couchdb
        state: up
      - name: mssql-server
        state: up
      - name: postgresql
        state: up

  - backup:
      - name: kopia-nas
        state: down
        note: Storage on NAS
      - name: kopia-b2
        state: up
        note: Storage on NAS

  - dev:
      - name: code-server
        state: up
      - name: gitea
        state: up
      - name: gitlab
        state: down
      - name: jupyter-notebook
        state: down
      - name: supabase
        state: down

  - tools:
      # - name: homelab-docs
      #   state: up
      - name: vaultwarden
        state: up
      - name: openspeedtest
        state: up
      - name: cyberchef
        state: up
      - name: guacamole
        state: up
      - name: kasm
        state: up
      - name: stirling-pdf
        state: up
      - name: searxng
        state: up
      - name: obsidian
        state: up
      - name: scanservjs
        state: up

  - ai:
      - name: ollama
        state: up
      - name: litellm
        state: up
      - name: open-webui
        state: up
      - name: open-webui-pipelines
        state: up
      - name: autogenstudio
        state: up
      - name: sillytavern
        state: up
      - name: qdrant
        state: up

  - communication:
      - name: mattermost
        state: up

  - arr:
      - name: radarr
        state: down
      - name: sonarr
        state: down
      - name: bazarr
        state: down
      # TODO Deprecated - replace with Lazy Librarian - https://lazylibrarian.gitlab.io/
      # - name: readarr
      #   state: down
      - name: prowlarr
        state: down
      - name: jellyseerr
        state: down
      - name: flaresolverr
        state: down

  # - game:
  #     - name: legendary-minecraft
  #       state: down

  - personal:
      - name: personal-web
        state: up
      - name: tales
        state: down
