# Web GUI for youtube-dl (using the yt-dlp fork) with playlist support. Allows you to download videos from YouTube and dozens of other sites
#
# Links:
# - Source: https://github.com/alexta69/metube
# - Supported sites: https://github.com/yt-dlp/yt-dlp/blob/master/supportedsites.md
# - Browser plugin for Chrome/Chromium based browsers: https://chromewebstore.google.com/detail/metube-downloader/fbmkmdnlhacefjljljlbhkodfmfkijdh
# - Browser plugin for Firefox: https://addons.mozilla.org/en-US/firefox/addon/metube-downloader/
---
name: metube
services:
  metube:
    image: ghcr.io/alexta69/metube:2025-03-07
    container_name: metube
    restart: "unless-stopped"
    environment:
      UID: ${PUID}
      GID: ${PGID}
      # Using browser cookies:
      # https://github.com/alexta69/metube?tab=readme-ov-file#using-browser-cookies
      YTDL_OPTIONS: "{\"cookiefile\":\"/cookies/cookies.txt\"}"
    volumes:
      - ${STORAGE_DOWNLOADS}/youtube:/downloads
      - ${INFRA_CONFIG_PATH:-"./metube"}/metube-cookies.txt:/cookies/cookies.txt
    networks:
      - proxy
    labels:
      traefik.enable: true
      traefik.http.routers.metube.middlewares: localaccess@file
      traefik.http.services.metube.loadbalancer.server.port: 8081
      homepage.group: Media
      homepage.name: Metube
      homepage.icon: metube.png
      homepage.href: https://metube.${MYDOMAIN}/
      homepage.description: Video downloader

networks:
  proxy:
    external: true
