# https://brew.sh/
---
- name: Check if Homebrew is installed
  ansible.builtin.stat:
    path: /home/linuxbrew/.linuxbrew/bin/brew
  register: mac_base_homebrew_check
  when: ansible_system == "Linux"

- name: Check if Homebrew is installed
  ansible.builtin.stat:
    path: /opt/homebrew/bin/brew
  register: mac_base_homebrew_check
  when: ansible_system == "Darwin"

- name: Install Homebrew
  ansible.builtin.shell: /bin/bash -c "NONINTERACTIVE=true $(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  become: false
  when: not mac_base_homebrew_check.stat.exists
  register: mac_base_homebrew_install
  changed_when: mac_base_homebrew_install.rc == 0

- name: Update Homebrew
  community.general.homebrew:
    update_homebrew: true
  when: mac_base_homebrew_check.stat.exists
  become: false

- name: Install Homebrew packages
  community.general.homebrew:
    name: "{{ mac_base_brew_base_tools + mac_base_brew_cloud_tools + mac_base_brew_terraform_tools + mac_base_brew_kubernetes_tools }}"
    state: latest
  become: false

- name: Install Homebrew Cask packages
  community.general.homebrew_cask:
    name: "{{ mac_base_brew_cask_packages }}"
    state: latest
  become: false
