# Based on:
#   https://docs.docker.com/engine/install/debian/
---
- name: Install required system packages
  ansible.builtin.apt:
    pkg:
      - apt-transport-https
      - ca-certificates
      - curl
      - software-properties-common
      - python3-pip
      - virtualenv
      - python3-setuptools
    state: present

- name: Add Docker GPG Key (on Ubuntu)
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker Repository (on Ubuntu)
  ansible.builtin.apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
    state: present

- name: Update apt and install Docker packages
  ansible.builtin.apt:
    name:
      - "{{ 'docker-ce=' + debian_docker_host_docker_ce_version if debian_docker_host_docker_ce_version != 'latest' else 'docker-ce' }}"
      - "{{ 'docker-ce-cli=' + debian_docker_host_docker_ce_cli_version if debian_docker_host_docker_ce_cli_version != 'latest' else 'docker-ce-cli' }}"
      - "{{ 'containerd.io=' + debian_docker_host_containerd_io_version if debian_docker_host_containerd_io_version != 'latest' else 'containerd.io' }}"
    state: present
    update_cache: true
    allow_downgrade: true

- name: Enable and start docker service
  ansible.builtin.service:
    name: docker
    enabled: true
    state: started

- name: Hold Docker packages at current versions
  ansible.builtin.dpkg_selections:
    name: "{{ package }}"
    selection: hold
  loop:
    - docker-ce
    - docker-ce-cli
    - containerd.io
  loop_control:
    loop_var: package
  when: debian_docker_host_hold_docker_packages | bool

- name: Install Docker Module for Python
  ansible.builtin.pip:
    name: docker
  environment:
    # For compatibility with PEP668 - https://forum.ansible.com/t/breaking-changes-with-pip-and-system-packages/2177
    PIP_BREAK_SYSTEM_PACKAGES: "1"
