# Seamless multi-primary syncing database with an intuitive HTTP/JSON API, designed for reliability
#
# Used by [Obsidian LiveSync](https://github.com/vrtmrz/obsidian-livesync)
#
# https://github.com/apache/couchdb
---
name: couchdb
services:
  couchdb:
    image: couchdb:3.5.1
    container_name: couchdb
    restart: unless-stopped
    # kics-scan ignore-block
    environment:
      COUCHDB_USER: ${COUCHDB_USER:?CouchDB admin user must be set}
      COUCHDB_PASSWORD: ${COUCHDB_PASSWORD:?CouchDB admin password must be set}
    volumes:
      - ${DOCKER_VOLUMES}/couchdb/data:/opt/couchdb/data
      - ${DOCKER_VOLUMES}/couchdb/etc:/opt/couchdb/etc/local.d
    networks:
      - proxy
    labels:
      traefik.enable: true
      traefik.http.routers.couchdb.middlewares: localaccess@file
      traefik.http.services.couchdb.loadbalancer.server.port: 5984
      homepage.group: Storage
      homepage.name: CouchDB
      homepage.icon: couchdb.png
      homepage.href: https://couchdb.${MYDOMAIN}/
      homepage.description: Multi-primary syncing database

networks:
  proxy:
    external: true
