version: '3'

env:
  OBSIDIAN_VAULT_NAME: "Today"

tasks:
  # Note: to avoid syncing the .git folder by Obsidian, .git folder is placed outside of the Vault
  # Reference: https://git-scm.com/docs/git-clone#Documentation/git-clone.txt---separate-git-dirgit-dir
  # Clone command: `git clone --separate-git-dir`
  push-vault-repo:
    desc: Commit and push changes in Obsidian Vault git repository
    dotenv: ['config/docker/localhost/.env']
    silent: true
    cmds:
      - |
        VAULT_PATH="${STORAGE_OBSIDIAN}/${OBSIDIAN_VAULT_NAME}/"
        cd "${VAULT_PATH}" || { echo "Failed to cd to '${VAULT_PATH}'"; exit 1; }

        git add --all
        pre-commit run || true
        git add --all

        if git diff --cached --quiet; then
          echo "No changes to commit."
        else
          git commit -m "Automatic sync"
        fi
        if ! git remote get-url origin 2>/dev/null; then
          echo "No remote origin URL is configured. Skipping push."
        else
          git push
        fi

  stop-obsidian:
    desc: Stop Obsidian service
    cmds:
      - scripts/labctl.py service down tools/obsidian

  start-obsidian:
    desc: Start Obsidian service
    cmds:
      - scripts/labctl.py service up tools/obsidian

  backup-vault-repo:
    desc: Stop Obsidian, commit and push changes to git, then start the service
    cmds:
      - task: stop-obsidian
      - defer: { task: start-obsidian }
      - task: push-vault-repo
