version: '3'

tasks:
  command:
    internal: true
    cmds:
      - scripts/labctl.py service {{.COMMAND}} {{.SERVICE}}

  apply:
    desc: Deploy configured containers
    cmds:
      - scripts/labctl.py config apply

  pull-all:
    desc: Pull all (even not enabled) container images
    cmds:
      - scripts/labctl.py config apply --mode=pull

  update:
    desc: Update containers (pull before start)
    cmds:
      - scripts/labctl.py config apply --pull-before-start

  apply-update:
    desc: Update containers (pull before start), then prune old images and show restart events
    cmds:
      - task: update
      - task: prune
      - task: show-restarts

  stop:
    desc: Stop configured containers
    cmds:
      - scripts/labctl.py config apply --mode=down

  stop-all:
    desc: Stop all running containers
    cmds:
      - docker stop $(docker ps -a -q)

  prune:
    desc: Remove unused and dangling container images created before given timestamp (21 days)
    cmds:
      - docker image prune --all --force --filter "until=504h"

  show-restarts:
    desc: Show restarting containers and restart events
    cmds:
      - docker container list --filter status=restarting
      - docker events --filter event=restart --since=60m

  # Note: Escape {{ .. }} in Go templates: {{` {{ .. }} `}}
  show-big-images:
    desc: List the largest container images
    cmds:
      - docker images --format "{{`{{.ID}}\t{{.Size}}\t{{.Repository}}:{{.Tag}}`}}" | sort -k 2 -h -r | head -n 25

  # `docker system df -v` and `ncdu` is also useful
  du:
    desc: Show Docker disk usage
    cmds:
      - sudo du -x -h --max-depth=1 /var/lib/docker

  check-updates:
    desc: Run Watchtower to get updated container images
    cmds:
      - docker run --rm -v /var/run/docker.sock:/var/run/docker.sock containrrr/watchtower --run-once --cleanup --monitor-only

  update-example-env:
    desc: Create/update Docker example environment configuration files
    dotenv: ['config/docker/.env']
    env:
      CONFIG_DIR: "config/docker"
      EXAMPLE_DIR: "config-example/docker"
      SCRIPT: "scripts/update-example-env.py"
    silent: true
    cmds:
      # Process .env files
      - |
        SOURCE_HOSTDIR="${CONFIG_DIR}/${MAIN_NODE}"
        TARGET_HOSTDIR="${EXAMPLE_DIR}/myhost"
        mkdir -p "${TARGET_HOSTDIR}"
        echo "Processing: ${CONFIG_DIR}/.env -> ${EXAMPLE_DIR}/.env"
        python3 "$SCRIPT" "${CONFIG_DIR}/.env" "${EXAMPLE_DIR}/.env"
        find "$SOURCE_HOSTDIR" -type f -name '.env*' | while read -r env_file; do
            target_filename="${env_file//$SOURCE_HOSTDIR/$TARGET_HOSTDIR}"
            mkdir -p "$(dirname "$target_filename")"
            echo "Processing: $env_file -> $target_filename"
            python3 "$SCRIPT" "$env_file" "$target_filename"
        done
      # Process services.yaml, services-schema.yaml
      - sed "s/${MAIN_NODE}/myhost/g" config/docker/${MAIN_NODE}/services.yaml > config-example/docker/myhost/services.yaml
      - cp config/docker/services-schema.yaml config-example/docker/services-schema.yaml
