# Encrypted, Compressed, and Deduplicated Backups Using the Cloud Storage You Pick
# Cross-platform backup tool for Windows, macOS & Linux with fast, incremental backups, client-side end-to-end encryption, compression and data deduplication. CLI and GUI included.
#
# This instance's repository is configured for **Backbaze B2** storage
#
# Links:
# - Home: https://kopia.io/
# - Source: https://github.com/kopia/kopia
# - Compose: https://github.com/kopia/kopia/tree/master/tools/docker
---
name: kopia-b2
services:
  kopia-b2:
    image: kopia/kopia:0.22.2
    container_name: kopia-b2
    restart: "unless-stopped"
    user: "0:0"
    # kics-scan ignore-line
    privileged: true
    cap_add:
      - SYS_ADMIN
    # kics-scan ignore-line
    security_opt:
      - apparmor:unconfined
    devices:
      - /dev/fuse:/dev/fuse:rwm
    command:
      - server
      - start
      - --disable-csrf-token-checks
      - --insecure
      - --without-password
      - --address=0.0.0.0:80
    environment:
      USER: ${ADMIN_USER}
      KOPIA_PASSWORD: ${KOPIA_B2_REPOSITORY_PASSWORD}
      TZ: ${TIMEZONE}

    # kics-scan ignore-block
    volumes:
      - ${DOCKER_VOLUMES}/kopia-b2/config:/app/config
      - ${DOCKER_VOLUMES}/kopia-b2/cache:/app/cache
      - ${DOCKER_VOLUMES}/kopia-b2/logs:/app/logs

      # Nest (source)
      - /etc:/sources/nest/etc:ro
      - ${DOCKER_VOLUMES}:/sources/nest/docker-volumes:ro
      - ${ADMIN_HOME}/repos:/sources/nest/repos:ro
      - ${STORAGE_LOCAL_MEDIA}:/sources/nest/media:ro

      # NAS (source)
      - ${STORAGE_FAMILYMEDIA}:/sources/nas/family-media:ro
      - ${STORAGE_MEDIA}:/sources/nas/media:ro

    networks:
      - backup-kopia

    labels:
      traefik.enable: true
      traefik.docker.network: backup-kopia
      traefik.http.routers.kopia-b2.middlewares: localaccess-sso@file
      traefik.http.services.kopia-b2.loadbalancer.server.port: 80
      homepage.group: Storage
      homepage.name: Kopia - Backblaze B2
      homepage.icon: kopia.png
      homepage.href: https://kopia-b2.${MYDOMAIN}/
      homepage.description: "[SSO] Backups Using the Cloud Storage You Pick"

networks:
  backup-kopia:
    external: true
