#!/usr/bin/env ansible-playbook

- name: Setup Debian base
  hosts:
    - debian
  roles:
    - role: debian_base

- name: Setup Docker-host
  hosts:
    - nas
    - nest
    - hive
  roles:
    - role: debian_docker_host

- name: Setup developer tools
  hosts:
    - nest
    - hive
  roles:
    - role: markosamuli.linuxbrew
    - role: debian_tools

- name: Setup Samba client
  hosts:
    - nest
  roles:
    - role: debian_samba_client
