# Adminer is a full-featured database management tool written in PHP that consists
# of a single file ready to deploy to the target server. It supports MySQL, MariaDB,
# PostgreSQL, CockroachDB, SQLite, MS SQL, Oracle, and through plugins: Elasticsearch,
# SimpleDB, MongoDB, Firebird, ClickHouse, and IMAP systems.
#
# Links:
# - Home: https://www.adminer.org
# - Source: https://github.com/vrana/adminer
# - Docs: https://hub.docker.com/_/adminer/
#
# TODO: Enable custom plugins via ADMINER_PLUGINS environment variable
# TODO: Consider mounting custom CSS themes for UI customization
# TODO: Create dedicated database network for secure database connections
---
name: adminer
services:
  adminer:
    image: adminer:5.4.1-standalone
    container_name: adminer
    restart: unless-stopped
    environment:
      TZ: ${TIMEZONE}
      ADMINER_DEFAULT_SERVER: ${ADMINER_DEFAULT_SERVER:-}
      ADMINER_DESIGN: ${ADMINER_DESIGN:-}
      ADMINER_PLUGINS: ${ADMINER_PLUGINS:-}
    networks:
      - proxy
    labels:
      traefik.enable: true
      traefik.http.routers.adminer.middlewares: localaccess-sso@file
      traefik.http.services.adminer.loadbalancer.server.port: 8080
      homepage.group: Storage
      homepage.name: Adminer
      homepage.icon: adminer.png
      homepage.href: https://adminer.${MYDOMAIN}/
      homepage.description: "Full-featured database management tool"

networks:
  proxy:
    external: true
