# Publishing Docker images
# https://docs.github.com/en/actions/use-cases-and-examples/publishing-packages/publishing-docker-images
#
# GitHub Action to build and push Docker images with Buildx
# https://github.com/docker/build-push-action

name: Build dev & admin container

on:
  push:
    branches: ["main"]
    paths: ['.github/workflows/devcontainer.yml', '.devcontainer/Dockerfile', 'ansible/**']
  pull_request:
    paths: ['.github/workflows/devcontainer.yml', '.devcontainer/Dockerfile', 'ansible/**']
  workflow_dispatch:

concurrency:
  group: "devcontainer"
  cancel-in-progress: false

jobs:
  build-test-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    strategy:
      matrix:
        distribution:
          - tag: debian
            base_image: debian:trixie-slim
          - tag: ubuntu
            base_image: ubuntu:24.04

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      # Add if build for different architectures is needed
      # - name: Set up QEMU
      #   uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Build image and export to Docker
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          context: ansible
          file: .devcontainer/Dockerfile
          tags: |
            infra-devcontainer:${{ matrix.distribution.tag }}
            ghcr.io/${{ github.repository_owner }}/infra-devcontainer:latest-${{ matrix.distribution.tag }}
          build-args: BASE_IMAGE=${{ matrix.distribution.base_image }}
          cache-from: type=gha,scope=${{ matrix.distribution.tag }}
          cache-to: type=gha,mode=max,scope=${{ matrix.distribution.tag }}
          outputs: type=docker,dest=/tmp/image-${{ matrix.distribution.tag }}.tar

      - name: Load and test the image
        run: |
          docker load --input /tmp/image-${{ matrix.distribution.tag }}.tar
          docker run --rm -v .:/home/admin/repos/infra infra-devcontainer:${{ matrix.distribution.tag }} bash --login -c "cd /home/admin/repos/infra; task versions"

      - name: Log in to the Container registry
        uses: docker/login-action@3227f5311cb93ffd14d13e65d8cc400d30f4dd8a
        if: success() && github.ref == 'refs/heads/main'
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push the image
        if: success() && github.ref == 'refs/heads/main'
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/infra-devcontainer:latest-${{ matrix.distribution.tag }}
