name: Pre-commit checks

on:
  pull_request:
  push:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: '3.14'

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
        with:
          terraform_version: "1.14.3"

      - name: Install tflint
        run: curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash

      - name: Install terraform-docs
        run: |
          VERSION=0.20.0
          curl -sSLo ./terraform-docs.tar.gz https://terraform-docs.io/dl/v${VERSION}/terraform-docs-v${VERSION}-$(uname)-amd64.tar.gz
          tar -xzf terraform-docs.tar.gz terraform-docs
          chmod +x terraform-docs
          mv terraform-docs /usr/local/bin/terraform-docs
          rm terraform-docs.tar.gz

      # Note: collections will be installed to /opt/pipx/venvs/ansible-core/lib/python3.12/site-packages/ansible_collections (why?)
      - name: Install Ansible requirements
        run: cd ansible && ansible-galaxy install -vv -r requirements.yml

      - name: Pre-commit checks
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
