---
- name: Add IP address of all hosts to all hosts
  ansible.builtin.lineinfile:
    dest: /etc/hosts
    regexp: '.*{{ item }}$'
    line: "{{ hostvars[item].ansible_host }} {{ item }}"
    state: present
  when:
    - debian_base_configure_hosts_file | default(false) | ansible.builtin.bool
    - hostvars[item].ansible_host is defined
  with_items: "{{ groups.all }}"

- name: Check if /etc/systemd/resolved.conf exists
  ansible.builtin.stat:
    path: /etc/systemd/resolved.conf
  register: debian_base_systemd_resolved_conf

- name: Check if /run/systemd/resolve/resolv.conf exists
  ansible.builtin.stat:
    path: /run/systemd/resolve/resolv.conf
  register: debian_base_run_systemd_resolved_conf

# https://www.linuxuprising.com/2020/07/ubuntu-how-to-free-up-port-53-used-by.html
- name: Disable DNSStubListener
  ansible.builtin.lineinfile:
    path: /etc/systemd/resolved.conf
    regexp: '^(.*)DNSStubListener(.*)$'
    line: 'DNSStubListener=no'
    backrefs: true
  when: debian_base_systemd_resolved_conf.stat.exists

- name: Create symbolic link to resolv.conf
  ansible.builtin.file:
    src: /run/systemd/resolve/resolv.conf
    dest: /etc/resolv.conf
    owner: systemd-resolve
    group: systemd-resolve
    state: link
    force: true
  when: debian_base_run_systemd_resolved_conf.stat.exists
  notify: Restart service systemd-resolved
