---
- name: Install and update apt packages
  ansible.builtin.import_tasks: 10-apt.yaml
  become: true

- name: Security configuration
  ansible.builtin.import_tasks: 30-security.yaml
  become: true

- name: Configure network
  ansible.builtin.import_tasks: 40-network.yaml
  become: true

- name: Install Crowdsec iptables bouncer
  when: debian_base_install_crowdsec_bouncer | default(false) | ansible.builtin.bool
  ansible.builtin.import_tasks: 50-crowdsec.yaml
  become: true

- name: Install go-task
  ansible.builtin.import_tasks: 60-go-task.yaml
  become: true

- name: Configure admin user
  ansible.builtin.import_tasks: 70-user.yaml
  become: true
